Source: hh-tornado-protobuf-utils
Section: hh
Priority: extra
Maintainer: Vitaly Glibin <v.glibin@hh.ru>
Uploaders: Vitaly Glibin <v.glibin@hh.ru>
Build-Depends: debhelper (>= 8), python (>= 2.6), python-support
Standards-Version: 3.8.4
Homepage: https://github.com/hhru/tornado-protobuf-utils

Package: hh-tornado-protobuf-utils
Architecture: all
Depends: python-tornado (>= 2.0)
Description: Tornado client for protobuf rpc services
